*{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ------------------------VARIABLES--------------------------- */
:root{
    --main-theme:orangered;
    --siZebutton:20px;
}

/* ------------------------------------------------------------------------------- */
button{
    border:none;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

html{
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.4) rgba(0,0,0,0);
    scrollbar-base-color: blue;
    scrollbar-face-color: brown;
}

.container{
    width: 100%;
    height: 65vh;
    background: linear-gradient(to left,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(WebsiteFileTest/Media/parallax-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    
}

.header_container{
    width: 100%;
    height: 6.5rem;
    
}

.container_row{
    width: 75%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    
    
}



.logo{
    width: 200px;
    height: 100%;
}
.navigation{
    width: 100%;
    height: 50%;
    flex: 2;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav_bar{
    display: flex;
    width: 60%;
    float: right;
    justify-content: right;
}

.nav_bar li{
    display: inline-block;
    
}


.nav_bar a{
    padding: 5px 13px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight:600;
    text-transform: capitalize;
}

.nav_bar a:hover{
    background-color: rgba(255, 68, 0, 0.5);
    transition: .8s ease-in all;
}


/* presentation paragraphe service for this page */
.presentation_service{
    width: 60%;
    margin: 9rem auto;
    text-align: center;
    color: rgba(245, 245, 245, 0.945);
    text-transform: uppercase;
}

.presentation_service h1{
    
    font-size: 5em;
}

.presentation_service p{
    font-size: large;
    font-weight: normal ;
    text-transform: capitalize;
}

.presentation_service button{
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px 50px;
    margin-top: 2.5rem;
    border-radius: 40px;
    color: white;
    background-color: var(--main-theme);
    border: 2px solid var(--main-theme);
    cursor:pointer;
}

.presentation_service button:hover{
    background-color: transparent;
    border: 2px solid white;
    transition: .5s ease-in all;
}


/* --------------------------------------------------------------------------------------------------------------------- */
.container_service{
    height: 65em;
    text-align: center;
}

.containerService{
    margin: 5rem auto ;
    width: 70%;
}

.cont_serv_row{
    width:100%;
    margin: 0px auto;
}

.titleServ{
    
    text-transform: uppercase;
    height: 10em;
}

.titleServ h1{
    font-size: 45px;
    font-weight: bold;
    color: rgba(26, 25, 25, 0.87);
}

.titleServ span{
    width: 7%;
    height: 10px;
    display: block;

    margin: 0px auto;
    background-color: var(--main-theme);
}



.titleServ p{
    color: grey;
    text-transform: capitalize;
    margin: 15px auto;
    padding: 0px;
    width:60%;
    text-align: center;
}

.listItemsService{
    padding: 0px;
}


.itemsServRow{
    width: 95%;

    margin: 5px auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}


.itemsServ{
    margin: 5em 0px;
}
.itemServ{
    width: 400px;
    height: 300px;
    margin-bottom: 5em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);


    
}

.itemServ:nth-child(2){
    border-color: red;
}



.itemServ h3{
    font-size: 20px;
    padding-top: 2em;
    padding-bottom: .5em;
    font-weight: normal;
    color: rgba(0,0,0,0.8);

    text-transform: uppercase;
}

.icon{
    width: 60px;
    border-radius: 100%; 
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 0px auto;
    margin-top: -35px;

    color: var(--main-theme);


}

.itemServ p{
    width: 95%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin: 0px auto;
}



.icon i{
    font-size: 20px;
    margin: 35% 0px;
}


/* -------------------------------------------------------------------------- */
.container_Choice{
    background: linear-gradient(to left,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(./WebsiteFileTest/Media/service-bg.jpg);
    background-position: center;
    background-size: cover;
    padding:1%;
}
.ContChoiceTitle{
    width: 90%;
    margin: 0px;
}

.ContChoiceTitle h2{
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.ContChoiceTitle span{
    width: 7%;
    height: 10px;
    display: block;

    margin: 0px auto;
    background-color: var(--main-theme);
}



.ContChoiceTitle p{
    color: whitesmoke;
    text-transform: capitalize;
    margin: 15px auto;
    padding: 0px;
    width:60%;
    text-align: center;
}
.ContChoiceTitle{
    width: 80%;
    margin: 5% auto;
    margin-top: 0px;
    text-align: center;
}

.contListChoice{
    width: 67%;
    margin: 2.5% auto;
    margin-bottom: 1.5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px ;
    align-items: center;
    

    
}

.ChoiceItem{
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    background-color: white;
}

.ChoiceItem h3{
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: .5em;
    font-weight: normal;
    color: rgba(0,0,0,0.8);

    text-transform: uppercase;
}


.ChoiceItem p{
    width: 80%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin: 0% auto;
    margin-bottom:5%;
}

.ChoiceItem .icon{
    background-color: var(--main-theme);
}

.ChoiceItem i{
    color: white;
}


/* ------------------------------------------------------------------------------- */



.numberSectionContainer{
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.NcolSec{
    padding: 1rem 7rem;
    border-right: 1px solid rgba(128, 128, 128,0.3);
    text-align: center;
    text-transform: uppercase;
}

.NcolSec:last-child{
    border-right: none;
}

.NcolSec h2{
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}
.NcolSec h3{
    font-size: small;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}


/* -------------------------------------------------------------------------------------------------------------- */
.sectionPackage{
    text-align: center;
}

.sectionPackageContainer{
    width: 70%;
    margin: 1.5rem auto;
}

.titleSection{
    font-size: 45px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: center;
    margin: 1rem auto;
}

.descrTitleSection{

    color: grey;
    text-transform: capitalize;
    margin: 15px auto;
    padding: 0px;
    width: 60%;
    text-align: center;
}

.titleSection+span{
    width: 7%;
    height: 10px;
    display: block;

    margin: 0px auto;
    background-color: var(--main-theme);
}

.viewportPackage{
    height: 30rem;
    margin: 3rem auto;
}

.screenPackage {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
    overflow:hidden;
}
.viewportPackage li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.second{
    margin-left: 2.5rem;
}
.vwitems{
    width:648px;
    padding: 0px;
}

.vwitems img{
    width: 650px;
    height: 100%;
    z-index: 1;
}
/* --------------------------------------------------------------- */
.descr_package{
    width: 100.3%;
    height: 60%;
    background-color: var(--main-theme);
    margin: 0px auto;
    transform: translateY(-4.5rem);
    z-index: 1000;
    color: whitesmoke;
}


.descr_package:hover{
    transition: all .5s;
    transform: translateY(-100%);
}

.descr_package h3{
    font-size: 1.5rem;
    font-weight: normal;
    padding:1rem  1.5rem;
    color: whitesmoke;
}

.descr_package h5{
    text-transform: uppercase;
    font-size: .90rem;

    margin: 1rem auto;
}

.descr_package p{
    width: 90%;
    border: none;

}
.descr_package button{
    width: 90%;
    height: 50px;
    
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 1rem;
    transform: translateX(5%);
    text-transform: uppercase;
    cursor: pointer;

}

.descr_package .fa-star{
    transform: translateY(-45%);
    color: whitesmoke;
}

/* --------------------------------------------------------------- */
.switchPackage{

    margin: 2px .75rem;
    padding: .4rem;
    border-radius: 100%;
    background-color: rgba(255, 68, 0, 0.3);
    
    
}

.switchPackage:first-child{
    background-color: rgba(255, 68, 0, 0.747);
}

.switchPackage:hover{
    transition: .5s all;
    background-color: rgba(255, 68, 0, 0.747);
}

.buttonswitch{
    width: 10%;
    display: flex;
    justify-content: center;
    padding: 0px 1rem;
    margin: 1rem auto;
}


/* --------------------------------------------------------------- */
.tops_deals{

    margin: 10rem 0px;

    width: 100%;
}

.tops_deals>p{
    width: 100%;
    text-align: center;

    margin: 1rem auto;
}

.containerItemsDeals{

    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    
}

.itemTopDeals{

    width: 33.3%;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
    

}
 .grid figure{
    overflow: hidden;
    position: relative;
}

.grid img{
    width: 100%; 
    position: relative;
    display: block;
    z-index: 50;
}

.grid figcaption{
    padding: 20px;
    color: black;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    opacity: 0;

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 100;

    transform: translateY(50%);
}

.grid figure:hover figcaption{
    transition: .35s ease-out;
    background: linear-gradient(to top,rgba(0,0,0,.5) 25%,rgba(0,0,0,0));
    transform: translateY(0%);
    opacity: 1;
}

.grid figcaption h4{

    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;


    width: 60%;

    margin: 0px auto;
    padding: 15px;
 
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;



    background-color: white;

}


.grid figcaption p{
    width: 100%;

    padding:20px;
    position: absolute;
    bottom: 0;
    left: 0px;

}


.grid figcaption a{
    color:white;
}


/* ---------------------------------------------------------------------------- */
